@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: font-poppins;
    src: url(../src/Layout/assets/Poppins/Poppins-Regular.ttf) format("truetype");
}

.dropdown-toggle {
    border: none !important
}