@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: font-poppins;
    src: url(../src/Layout/assets/Poppins/Poppins-Regular.ttf) format("truetype");
}

/* The navigation menu */
.navbar {
    background-color: #11101d;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation links */
.navbar a {
    float: right;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

/* The subnavigation menu */
.subnav {
    float: right;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar li:hover,
.subnav:hover .subnavbtn {
    background-color: #9c9c9c50;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    right: 0;
    background: #11101d;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: right;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #9c9c9c50;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}


.login {
    height: 3rem;
    width: 12rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.login:hover {
    box-shadow: .5px .5px 150px #252525;
}

.type1::after {
    content: "Login";
    height: 3rem;
    width: 12rem;
    background-color: #11101d;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.type1::before {
    content: "Experimente Grátis";
    height: 3rem;
    width: 12rem;
    background-color: #fff;
    color: #11101d;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(0px) scale(1.2);
    -moz-transform: translateY(0px) scale(1.2);
    -ms-transform: translateY(0px) scale(1.2);
    -o-transform: translateY(0px) scale(1.2);
}

.type1:hover::after {
    transform: translateY(0) scale(1.2);
}

.type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}