@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: font-poppins;
    src: url(../src/Layout/assets/Poppins/Poppins-Regular.ttf) format("truetype");
}

/* The navigation menu */
.navbar {
    background-color: #11101d;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 0.9rem 1rem;
    text-decoration: none;
}